<div class="dashboard-content" fxLayoutAlign="center center">
  <div class="main-content">
    <p class="title" fxLayoutAlign="center center">CGM Taschenrechner</p>
    <div class="display-content">
      <p fxLayoutAlign="end center" class="display-value">{{operation}}</p>
      <p fxLayoutAlign="end center" class="display-value">{{result}}</p>
    </div>
    <p *ngIf="error" class="error">Es ist ein Fehler aufgetreten</p>
    <div id="calculator-container">
      <div fxLayoutAlign="center center" class="button-number"  id="button1" (click)="getPressButton('7')">7</div>
      <div fxLayoutAlign="center center" class="button-number"  id="button2" (click)="getPressButton('8')">8</div>
      <div fxLayoutAlign="center center" class="button-number" id="button3" (click)="getPressButton('9')">9</div>
      <div fxLayoutAlign="center center" class="button-symbol" id="button4" (click)=" currentValues.length!==0? getPressButton(' / ') : ''">/</div>
      <div fxLayoutAlign="center center" class="button-symbol" id="button5" (click)=" currentValues.length!==0? getPressButton('<_'): ''"><&#95;</div>
      <div fxLayoutAlign="center center" class="button-number" id="button6" (click)="getPressButton('4')">4</div>
      <div fxLayoutAlign="center center" class="button-number" id="button7" (click)="getPressButton('5')">5</div>
      <div fxLayoutAlign="center center" class="button-number" id="button8" (click)="getPressButton('6')">6</div>
      <div fxLayoutAlign="center center" class="button-symbol" id="button9" (click)="currentValues.length!==0? getPressButton(' * '): ''">*</div>
      <div fxLayoutAlign="center center" class="button-symbol-CE" id="button10" (click)="getPressButton('CE')">CE</div>
      <div fxLayoutAlign="center center" class="button-number" id="button11" (click)="getPressButton('1')">1</div>
      <div fxLayoutAlign="center center" class="button-number" id="button12" (click)="getPressButton('2')">2</div>
      <div fxLayoutAlign="center center" class="button-number" id="button13" (click)="getPressButton('3')">3</div>
      <div fxLayoutAlign="center center" class="button-symbol" id="button14" (click)="getPressButton(' - ')">-</div>
      <div fxLayoutAlign="center center" class="button-symbol" id="button15" (click)="(lastValueIsNumber || currentValues[currentValues.length-1] === ')')? getPressButton('='):'' ">=</div>
      <div fxLayoutAlign="center center" class="button-number" id="button16" (click)="getPressButton('0')">0</div>
      <div fxLayoutAlign="center center"  class="button-symbol"id="button17" (click)="currentValues.length!==0?  getPressButton('.'): ''">,</div>
      <div fxLayoutAlign="center center" class="button-symbol" id="button18" (click)="currentValues.length!==0?  getPressButton(' + '): ''">+</div>
      <div fxLayoutAlign="center center"  class="button-symbol"id="button19" (click)=" getPressButton('(')">(</div>
      <div fxLayoutAlign="center center" class="button-symbol" id="button20" (click)="currentValues.length!==0?  getPressButton(')'): ''">)</div>
    </div>
  </div>
</div>

