
.dashboard-content{
  height: 100vh;
}
.title{
  font-size: large;
  font-weight: bold;
  color: cornflowerblue;
}

.button-number {
  background: darkgrey;
}

.button-symbol {
  background: cadetblue;
}
.button-symbol-CE {
  background: beige;
}

.display-content > p{
  margin: unset;
}
.display-content >p:not(:last-child) {
        margin-bottom: 0.2rem;
}

.error {
  color: red;
  font-size: small;
}

.main-content {
  border:  3px solid black;
  padding: 0.5rem;
  width: 300px;
  border-radius: 10px;
}

.display-content{
  border:  2px solid black;
  padding: 0.5rem;
  min-height: 30px;
  height: auto;
  border-radius: 4px;
}

.buttons-content {
  margin-top: 1rem;
}

.calculator-button {
  border:  2px solid black;
  border-radius: 5px;
  width: 1rem;
  height: 1rem;
  text-align: center;
  padding: 0.4rem;
  margin: 0.2rem;
}

#calculator-container{
  display:grid;
  grid-template-columns:auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:"area1 area2 area3 area4 area5"
                      "area6 area7 area8 area9 area10"
                      "area11 area12 area13 area14 area20"
                      "area16 area17 area18 area19 area15";
  margin-top: 1rem;
  height: 200px;
}

#calculator-container>div{
  border:2px solid;
  //background-color: darkgrey;
  margin:5px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  outline: inherit;

}

#button1{grid-area:area1;}
#button2{grid-area:area2;}
#button3{grid-area:area3;}
#button4{grid-area:area4;}
#button5{grid-area:area5;}
#button6{grid-area:area6;}
#button7{grid-area:area7;}
#button8{grid-area:area8;}
#button9{grid-area:area9;}
#button10{grid-area:area10;}
#button11{grid-area:area11;}
#button12{grid-area:area12;}
#button13{grid-area:area13;}
#button14{grid-area:area14;}
#button15{grid-area:area15;}
#button16{grid-area:area16;}
#button17{grid-area:area17;}
#button18{grid-area:area18;}
#button17{grid-area:area19;}
#button18{grid-area:area20;}
